---
layout: default
---

<head>
	<title>My HTML Page</title>
	<style>
		.no-margin {
			margin: 0;
			white-space: nowrap;
		}
	</style>
</head>

<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h5>About Me</h5>
	I worked as a machine learning researcher in the medical domain over seven years, where I developed a variety of ML-based tools for diagnosis and screening.
	However, I realized that many of the diseases we can now detect with these tool still lack definitive treatements.
	This led me to develop an interest in biology, as it offers the chance to uncover the fundamental causes of disease and contribute to the development of new therapeutics.
	To take this next step, I am currently studying computational biology at Purdue University.
</div>


<!-- ========== Research Interest ========== -->
<div class="docs-section" id="interest">
  <h5>Research Interest</h5>
	Biology & Medicine: Proteomics, Drug Discovery, Single-cell and spatial transcriptomics, Electrocardiogram, Electronic hospital records <br>
	Machine Learning: Automated machine learning, Domain generalization, Generative Machine Learning, Noisy Label, Structual inductive biases of neural networks

</div>


<!-- ========== Experience ========== -->
<div class="docs-section" id="Experience">
  <h5>Experience</h5>
        <div class="paper">
          <p class="title"><b>Seoul National University Hospital<b style="float:right;">Mar. 2025 - </b></b></p>
          <p class="title"><b>Researcher, Bioinformatics Lab (PI: <a href="https://sites.google.com/view/snuh-bmi-lab" style="text-decoration: none;">Kwangsu Kim</a>)<b style="float:right;"></b></b></p>
<!--           <p> - Developed machine learning models for single-cell and spatial transcriptomics.</p>
          <p> - Led a development of a declarative automated machine learning for multi-modal(image, signal, EHR, and transcriptomics) data.</p> -->
          <p></p>
        </div>
      
        <div class="paper">
          <p class="title"><b>Medical AI Co Ltd<b style="float:right;">Apr. 2021 - Mar. 2025</b></b></p>
          <p class="title"><b>Senior Research Scientiest, Data Science Team<b style="float:right;"></b></b></p>
          <p> - Investigated domain generalization and noisy label in medical data.</p>
          <p> - Developed an automated machine learning system.</p>
		  <p> - Developed ECG-based cardiovascular disease sceening products.</p>
          <p></p>
        </div>

        <div class="paper">
          <p class="title"><b>VUNO Inc<b style="float:right;">Aug. 2017 - Apr. 2021</b></b></p>
          <p class="title"><b>Research Scientiest, Biosignal Team<b style="float:right;"></b></b></p>
          <p> - Investigated generalization of training deep neural networks for ECG and EHR.</p>
          <p> - Developed and evaluated machine learning models for real-world medical data.</p>
	<p></p>
        </div>
</div>



<!-- ========== Education ========== -->
<div class="docs-section" id="education">
  <h5>Education</h5>
        <div class="paper">
          <p class="title"><b>Seoul National University<b style="float:right;">Sep. 2015 - Aug. 2017</b></b></p>
          
          <p>M.S. in Bioengineering (Advisor: <a href="https://myriad.snu.ac.kr/" style="text-decoration: none;">Jung Chan Lee</a>)</p>
          <p></p>
        </div>
      
        <div class="paper">
          <p class="title"><b>Pusan National University<b style="float:right;">Mar. 2011 - Aug. 2015</b></b></p>
          
          <p>B.S. in Mechanical Engineering (Minor in Electrical Engineering) </p>
          <p>Magna Cum Laude </p>
          <p></p>
        </div>
</div>

<!-- ========== PROJECTS ========== -->
<!-- <div class="docs-section" id="projects">
  <h5>Projects</h5>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-aitia">AI in Medical Practices</div></li>
    <li><div class="button" data-ref="#projects-automl">Automated ML System</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-aitia">
	At Medial AI Co Ltd, I developed cardiovascular disease screening products (AITIA Series) that were conferred as an innovative medical device from the Korean FDA and won the UNIST-UCLA Digital Healthcare Challenge in 2023.
	They are currently used in many clinics and hospitals across Korea.
	<br><br>
	<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
		<iframe 
			src="https://www.youtube.com/embed/DzL9Py86i0k" 
			frameborder="0" 
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen
			style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
		</iframe>
	</div>
    </div>

    <div class="tab-pane" id="projects-automl">
	    At Medical AI Co Ltd, I developed an automated ML (AutoML) system to address the growing demand for ML experiments from medical staff and to streamline model development processes. 
	    The system features customized data preprocessing and regularization techniques for ECG signals, hyperparameter optimization, and distributed computing using the Ray framework. 
	    Successfully deployed internally, this system enabled medical staff without ML expertise to efficiently conduct a wide range of ML experiments.	
	<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
	    <img 
	        src="assets/publications/automatedml.pdf" 
	        alt="Description of image" 
	        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
	</div>
	
    </div>
  </div>

</div> -->


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h5>Publications</h5>
		
<!--   <br>
  <br>
	(1) I have explored the effectiveness of AI models in clinical applications, including diagnosing heart failure and myocardial infarction using ECG, predicting sepsis using EHR, and estimating blood pressure through ECG and PPG.
  <br>
  <br>
	(2) I have tackled the domain generalization problem, which is critical for ensuring reliable performance in real-world deployments, by leveraging data augmentation and leveraging inductive biases. 
	Additionally, I have investigated noisy labels and data quality, common issues in real-world medical datasets.
  <br>
  <br>
 -->
  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" style="text-decoration: none;" target="_blank">Google Scholar</a>.<br/>
  <sup><b>*</b></sup> indicates equal contribution.</p>

  <ul class="tab-nav">
    <li><div class="button" data-ref="#papers-preprint">Preprint</div></li>
    <li><div class="button active" data-ref="#papers-reviewed">Published</div></li>
    <li><div class="button" data-ref="#patents">Patents</div></li>
  </ul>

  <div class="tab-content">
    <!-- Tab: Preprint -->
    <div class="tab-pane" id="papers-preprint">
      {% assign preprints = site.data.publications.papers | where: "year", "preprint" %}	    
      {% for paper in preprints %}
        <div class="paper">
          <div class="row">
            <div class="twelve columns">
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}
                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Tab: Peer Reviewed -->
    <div class="tab-pane active" id="papers-reviewed">
      {% assign reviewed_papers = site.data.publications.papers | where_exp: "item", "item.year != 'preprint'" %}
      {% for paper in reviewed_papers %}
        <div class="paper">
          <div class="row">
            <div class="twelve columns">
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i> ({{ paper.year }})</p>
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}
                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Tab: Patents -->
    <div class="tab-pane" id="patents">
      {% assign patents = site.data.publications.patents%}
      {% for paper in patents %}
        <div class="paper">
          <div class="row">
            <div class="twelve columns">
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Patent</a>
                {% endif %}
                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
	  
  </div>
</div>





<!-- ========== RESUME ========== -->
<!-- <div class="docs-section" id="resume">
  <h5>Vitæ</h5>

  <p>Full CV in <a href={{ "/assets/statement/CV-241127.pdf" | prepend: site.baseurl }} style="text-decoration: none;" target="_blank">PDF</a>.</p>
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>  -->
  
<!-- ========== MISC ========== -->
<div class="docs-section" id="misc">
    <h5>Miscellaneous</h5>
    
    <!-- Image Grid for Photos -->
    <div class="image-grid">
        <img src="assets/profile-pics/Euro_20140125121112149.jpg" alt="europc">
        <img src="assets/profile-pics/SG_DSC01311.jpg" alt="singapore">
        <img src="assets/profile-pics/Indoensia_DSC06360 3.jpg" alt="indonesia">
        <img src="assets/profile-pics/Viet_20180226_152308.jpg" alt="vietnam">
        <img src="assets/profile-pics/Japan_IMG_4430.jpg" alt="japan">
        <img src="assets/profile-pics/Viet_hat_20180226_122226.jpg" alt="hongkong">
        <img src="assets/profile-pics/Canada_IMG_20190819_122642.jpg" alt="banff">
        <img src="assets/profile-pics/7HK-food_0B94BF3-F76F-482E-AB04-E72C1578E96B.jpg" alt="chaozhou">
    </div>

<!--     <p>
	I love traveling and experiencing diverse cultures. 
	My wife has been my travel companion since we first met in Singapore in 2014. 
	Together, we have explored numerous destinations.
    </p>
    <p>
	My favorite places are volcanic mountain near to Jogjakarta in Indonesia and the breathtaking views of Banff in Canada.
	The culinary discovery is often the highlight of our travels. 
	The rich flavors of banh mi from Vietnam are unforgettable, with each bite brining me back to those bustling streets.
	And then there's ChaoZhou cuisine, a sensory delight I first experienced in my wife’s hometown of Hong Kong. 
    </p>
	 -->
</div>

<style>
    .image-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Creates four columns */
        grid-gap: 10px; /* Spacing between images */
	margin-bottom: 40px; /* Space between the images and the text */
    }

    .image-grid img {
        width: 100%; /* Each image will fill the column width */
        height: auto; /* Maintain aspect ratio */
    }
</style>


